body {
    background-color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
    align-items: center;
    background-color: rgb(49, 46, 46);
    height: 100%;
    flex-direction: column;
}



.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}


input.default-input{
    border: 4px solid green;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    position: relative;
    
}

input.default-input:focus{
    border: 7px solid green; 
}

.dropdown-list{
    background-color: white;
    font-size: 20px;
    position: absolute;
    border-style: solid;
    border-color:  green;
    border-width: 0px 4px 4px 4px;
    display: none;
}

.default-input:focus  ~ .dropdown-list{
    display: block;
    z-index: 999;
    border: 7px solid green;
    bottom: initial; 
    top: 100%;
    width: 100%;
    left: 0;
    position: absolute;
}

.dropdown-list-item{
    background-color: whitesmoke;
    padding: 5px;
}

.dropdown-list-item:hover{
    background-color: rgb(189, 194, 189);
}


